<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @reservation.client_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @reservation.product_id %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @reservation.datetime %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
